<div id="header">
</div>

<div id="main">
<div class="columInMainContainer">
	<div class="columInMain"	 >
		<div class="NameColum">
			<p> Backlog </p>		
		</div>
		<div class = "ticketContainer" id="ticketContainerA">
			<% @issues.each do |issue| %>
				<% if issue.state == "open" && issue.labels.length == 0%>
					<div class="ticket" id=<%= issue.id %>  >
						<div class = "ticketHeader">
						</div>
						<div class = "ticketBody">	
							<p> <%= issue.title %></p>
						</div>
					</div>
				<% end %>
			<%end%>
			
		</div>
	</div>
</div>
<div class="columInMainContainer">
	<div class="columInMain">
		<div class="NameColum">
			<p> Ready </p>		
		</div>
		<div class = "ticketContainer" id="ticketContainerB">
			<% @issues.each do |issue| %>
				<% if issue.state == "open" && issue.labels.length != 0 && issue.labels[0].name == "ready" %>
					<div class="ticket" id=<%= issue.id %>  >
						<div class = "ticketHeader">
						</div>
						<div class = "ticketBody">	
							<p> <%= issue.title %></p>
						</div>
					</div>
				<% end %>
			<%end%>
		</div>
	</div>
</div>
<div class="columInMainContainer">
	<div class="columInMain">
		<div class="NameColum">
			<p> In Progress </p>		
		</div>
		<div class = "ticketContainer"	id="ticketContainerC">
			<% @issues.each do |issue| %>
				<% if issue.state == "open" && issue.labels.length != 0 && issue.labels[0].name == "in progress" %>
					<div class="ticket" id=<%= issue.id %>  >
						<div class = "ticketHeader">
						</div>
						<div class = "ticketBody">	
							<p> <%= issue.title %></p>
						</div>
					</div>
				<% end %>
			<%end%>
		</div>
	</div>
</div>
<div class="columInMainContainer">
	<div class="columInMain">
		<div class="NameColum">
			<p> Done </p>		
		</div>
		<div class = "ticketContainer"	id="ticketContainerD">
			<% @closed_issues.each do |issue| %>
				<div class="ticket" id=<%= issue.id %>  >
					<div class = "ticketHeader">
					</div>
					<div class = "ticketBody">	
						<p> <%= issue.title %></p>
					</div>
				</div>
			<%end%>
		</div>
	</div>
</div>

</div>


 	<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
   	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script>
 	$(init);
 	function init()
 	{
		$('#ticketContainerA,#ticketContainerB,#ticketContainerC,#ticketContainerD').sortable({
			 connectWith:'#ticketContainerA,#ticketContainerB,#ticketContainerC,#ticketContainerD',
			 start: function (event, ui) {

            },
            receive : function (event, ui)
            {
                console.log(ui.item[0]);
                console.log(event.target);
                
                $.ajax({
    				url: 'change',
    				type: 'post',
    				data: {
        				idElement: ui.item[0].id, 
        				idState: event.target.id
    				},
    				headers: {
        				'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
    				},
    				success: function (data) {
        				console.log(data);
    				}
				});

        
            },
            stop: function (event, ui) {
               //console.log("cc");
            }
            /*
             stop : function (event, ui)
             {
               alert("stop "+);
               return true;
             }
             */
		});
 	};
	</script>
